---
import Layout from "../layout/Layout.astro";
import letterH from "../images/letter-H.png";
import codeIcon from "../images/icon-code.jpg";
import instagram from "../images/instagram-icon.png";
import github from "../images/Github-Mark.png";
import twitter from "../images/twitter.png";
import hamza from "../images/Hamza12700.jpg";
import ibrahim from "../images/ibrahim.png";
import {Image} from "astro:assets";
---

<Layout title="Contact">
  <section id="contact">
    <div class="team-member">
      <div class="circle-image">
        <Image src={hamza} alt="Team Member 1">
      </div>
      <div class="member-details">
        <h2>Hamza Rashid</h2>
        <div class="social-links">
          <a href="https://github.com/hamza12700" target="_blank"><Image src={github} alt="Github"></a>          ttps://x.com/Hamza_Rash1d" target="_blank"><img src=".Im
            ageages/{twiiter}ter" ref="https://hamza127.netlify.app/" t /a
            Personal Websiterget="_blank"><Image id="h-website"
              src={letterH} alt="Portfolio Website"></a>
        </div>
      </div>
    </div>

    <div class="team-member">
      <div class="circle-image">
        <Image src={ibrahim} alt="Team Member 3">
      </div>
      <div class="member-details">
        <h2>Ibrahim Khan</h2>
        <div class="social-links">
          <a href="https://instagram.com/infiniteprogrammer786" target="_blank"><Image src={instagram}
              alt="Instagram"></a>
          <a href="https://ibrahim-amv.pages.dev/" target="_blank"><Image src={codeIcon}
              alt="Portfolio"></a>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  #contact {
    margin-top: auto;
    margin-bottom: auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    width: 95%;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
    height: 350px; 
}

.circle-image {
    width: 100%;
    background-color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    height: 40%;
}

.circle-image img {
    object-fit: cover;
    max-width: 100%; 
    max-height: 100px; 
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    margin: 10px auto;
}
.member-details {
    width: 100%;
    padding: 20px;
    flex-grow: 1; 
}

.member-details h2 {
  color: #333;
}


.social-links {
    margin: 15px 0; 
}

.social-links a {
    display: inline-block;
    margin: 0 15px; 
    text-decoration: none;
}

.social-links img {
    width: 3.2rem; 
    border-radius: 50%;
    background-color: #00b7ff;
    padding: 5px;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.2);
}

.contact-links a {
    text-decoration: none;
    color: #00b2f8;
    font-weight: bold;
    margin: 10px 0; 
    display: block;
    transition: color 0.3s;
}

.contact-links a:hover {
    color: #1e98c9;
}

#h-website {
  padding: 0;
  width: 4rem;
}
</style>