---
import { Image } from "astro:assets";
import github from "../images/GitHub-Mark.png";
import hamza from "../images/hamza12700.jpg";
import ibrahim from "../images/ibrahim.png";
import codeIcon from "../images/icon-code.jpg";
import instagram from "../images/instagram-icon.png";
import letterH from "../images/letter-H.png";
import twitter from "../images/twitter.png";
import Layout from "../layout/Layout.astro";
---

<Layout title="Contact Anime Paradise Members">
  <h1 class="heading">Team Members</h1>
  <div class="contact-container">
    <div class="contact-card">
      <div class="contact-image">
        <Image src={ibrahim} alt="Profile Image" />
      </div>
      <div class="contact-details">
        <h2>Infinite Programmer</h2>
        <p>Frontend Web Developer</p>
        <div class="social-links">
          <a href="https://ibrahim-amv.pages.dev" target="_blank">
            <Image src={codeIcon} alt="Ibrahim's Website" />
          </a>
          <a
            href="https://instagram.com/infinite_programmer786"
            target="_blank"
          >
            <Image src={instagram} alt="Instagram" />
          </a>
        </div>
      </div>
    </div>
    <div class="contact-card">
      <div class="contact-image">
        <Image src={hamza} alt="Profile Image" />
      </div>
      <div class="contact-details">
        <h2>Hamza Rashid</h2>
        <p>Frontend Web Developer</p>
        <div class="social-links">
          <a href="https://hamza127.netlify.app/" target="_blank">
            <Image src={letterH} alt="Hamza's Website" />
          </a>
          <a href="https://x.com/Hamza_Rash1d" target="_blank">
            <Image src={twitter} alt="Twitter" />
          </a>
          <a href="https://github.com/hamza12700" target="_blank">
            <Image src={github} alt="GitHub" />
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .contact-container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 20px;
    margin: 0 auto 0 auto;
    gap: 7rem;
  }

  .heading {
    text-align: center;
    margin: 3rem 0 3rem 0;
  }

  .contact-card {
    display: flex;
    align-items: center;
    background-color: #191d2b; /* Background color for the entire card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    max-width: 450px; /* Increased width of the cards */
    text-align: left;

    img {
      border-radius: 100%;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .contact-image {
    width: 120px;
    height: 120px;
    padding-left: 1rem;
  }

  .contact-details {
    flex-grow: 1;
    padding: 20px;
    text-align: left;
    background-color: #191d2b; /* Background color for the details container */
    h2 {
      font-size: 24px;
      margin: 0;
    }
    p {
      font-size: 16px;
      color: #ccc;
      margin: 0 0 20px;
    }
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #00b7ff;
      padding: 5px;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .contact-links {
    a {
      text-decoration: none;
      color: #00b2f8;
      font-weight: bold;
      margin: 10px 0;
      display: block;
      transition: color 0.3s;
      &:hover {
        color: #1e98c9;
      }
    }
  }

  #h-website {
    padding: 0;
    width: 4rem;
  }
</style>
